/* colour styles : light  */
  body  { background: #2E415C;  font-size:13px; line-height:20px;  font-family: 'Droid Sans', sans-serif;   }
  #wrap { /*width:94%; margin-left:3%;*/ max-width: 90%; margin: 0 auto;
  }
  
  .content {
  	background: #fff;
  	padding: 20px;
  }
  
  .clearfix {
  	clear: both;
  }
  
/* font styles */	
  h1  { font-size:36px; line-height:41px; color:#000000; padding:0px; margin:0px; font-weight:bold; padding-bottom:5px; padding-top:5px; }
  h2  { font-size:20px; line-height:23px; color:#000000; padding:0px; margin:0px; font-weight:bold; }
  h3  { font-size:15px; line-height:25px; color:#858585; padding:0px; margin:0px; font-weight:normal;   }
  h4  { font-size:15px; line-height:25px; color:#000000; padding:0px; margin:0px; font-weight:normal; font-weight:bold;  } 
  h5  { font-size:13px; line-height:22px; color:#000000; padding:0px; margin:0px; font-weight:normal;  }
  h6  { font-size:12px; line-height:22px; color:#858585; padding:0px; margin:0px; font-weight:normal;  } 
  p   { font-size:12px; color:#9E9E9E; line-height:22px; margin:0px; padding:0px; padding-top:8px; padding-bottom:8px; font-family:'Helvetica',Arial, Helvetica, sans-serif; }

/* list Styles */
  ul 	{ padding:0px; margin:0; margin-left:0px; font-family:'Helvetica',Arial, Helvetica, sans-serif; margin-top:10px;   }
  ul li { font-size:12px; color:#858585; padding-left:10px; margin-bottom:7px;}
  ol 	{ padding:0px; margin:0; margin-left:25px; font-family:'Helvetica',Arial, Helvetica, sans-serif; margin-top:10px;   }
  ol li { font-size:12px; color:#858585; padding-left:10px; margin-bottom:7px;  list-style-type: decimal; }
  hr 	{ display: block; height: 1px;
    border: 0; border-top: 1px solid #EBEBEB;
    margin: 1em 0; padding: 0;
  }
	
/* link styles */	
  a:link, a:visited {color:#1CBAEC; text-decoration: none; 
  	-webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  
  } 
  a:hover 		{color:#CACACA; text-decoration: none;}
  a:active 		{color:#444444; text-decoration: none;}
  a:focus 		{outline-style: none;}  	
	
/* header nav styles */ 
  #header 			 { width: 100%;
padding: 30px 0;
height: auto;
display: inline-block;
border-bottom: 2px solid #fff;
margin: 0 0 20px;  }
  #header a{
  	color: #fff; 
  
  }
  
  #site-title {
  	float: left;
width: 210px;
padding-right: 40px;
overflow: hidden;
line-height: 27px;
font-size: 23px;
  }
  
  #nav 				 { width: 100%;
height: 55px;
overflow: hidden;
border-bottom: 2px solid #DBDBDB;
border-top: 1px solid #D8D8D8; margin: 30px 0 0; }
  #nav ul 			 {	display: inline; list-style: none;  margin:0px; padding:0px; height:42px; line-height:42px; clear:both;   }
  #nav ul li 		 { float: left;
  display: inline;
  font-size: 12px;
  margin: 5px 0 0;
  padding: 0px 15px;
  background: #000;
  }
  #nav ul li a 		 { display:block; text-decoration:none; color: #fff;
  }
  #nav ul li a:hover { }
  
  #menu-pages {
  	float: left;
	width: 210px;
	padding-right: 40px;
  }
  
  #menu-category {
  	float: left;
	width: 210px;
	padding-right: 30px;
  }
  
  #menu-category ul, #menu-pages ul {
  	 list-style-type: none;
  }
  
  
  #menu-left {
  	width: 50%;
  	float: left;
  }
  #menu-right {
  	width: 50%;
  	float: right;
  }
  
  #menu-right div {
  	width: 30%;
  }
  	
/* footer styles */
  #footer-area 					{ width: 100%;
display: inline;
float: left;
/* padding-top: 10px; */
margin-top: 20px;
clear: both;
padding: 20px;
background: #FDFEFF; margin-bottom: 20px;
  }
  #footer-area .widget 			{ width:310px; margin-right:10px; padding-top:15px; display:inline; float:left; font-size:12px; color:#454545; line-height:18px; font-family:'Helvetica',Arial, Helvetica, sans-serif;  }
  #footer-area .widget h3 		{ color:#858585;}
  #footer-area .widget p    	{ color:#000;}
  #footer-area .widget ul   	{ margin-left:0px;}
  #footer-area .widget li   	{ color:#858585; }
  #footer-area .widget a 		{ color:#444444;}
  #footer-area .widget a:hover  { color:#000;}
  #footer-area .widget-copy 	{ width:280px; overflow:hidden; display:inline; float:left; margin-left:10px;} 

/* copyright styles */ 
  #copyright { clear:both; width:100%; background:url(../images/light/bg-row.png) top left repeat-x; display:inline; float:left; margin-top:20px; margin-bottom:20px; }
  #copyright p { padding-top:15px; color:#4f5356; font-size:12px; }
  #copyright a 	{color:#858585;	text-decoration: none;} 
  #copyright a:hover 	{color:#000000; text-decoration: underline;}
 
 
/* post and page styles */ 
  .type-post 				{ width: auto;
background: #FFF;
border: 1px solid #dbdbdb;
max-width: 70%;
margin-right: 10px;
/* margin-top: 15px; */
display: inline;
float: left;
position: relative;
overflow: hidden;  }
  .type-page 				{ width:100%; background:#FFF; border-right:1px solid #dbdbdb; border-bottom:1px solid #dbdbdb; margin-right:10px; margin-top:15px; display:inline; float:left; }
  .type-attachment 			{ width:100%; background:#FFF; border-right:1px solid #dbdbdb; border-bottom:1px solid #dbdbdb; margin-right:10px; margin-top:15px; display:inline; float:left; }
  .gridly-image 			{ z-index:5; }
  .gridly-image img {
  	width: 100%;
  	-webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  .gridly-image img:hover {
  	opacity: .8;
  }
  .gridly-category 			{ position:absolute; width:auto; background:#fff; margin-top:-36px; z-index:10;  height:30px; overflow:hidden; left:0;}
  .gridly-category p 		{ margin:0; padding:0; line-height:30px; padding-left:20px; padding-right:40px; color:#fff; font-style:italic;   }
  .gridly-category a 		{ color: #B3B3B3; font-style:italic;}
  .gridly-category a:hover  { color:#555;}
  .gridly-copy 				{ width: 100%;
margin-left: auto;
margin-right: auto;
padding: 20px;
/* padding-bottom: 20px; */
overflow: hidden; }
  .gridly-name, .gridly-name a { color: #C2C2C2;
font-size: 13px;
padding: 10px 0 0;
text-transform: capitalize;
  }
  .gridly-meta, .gridly-meta a { color:#8e8e8e; font-size:11px; padding: 0}
  .size-full 				{ width:100%; height:inherit;}
  
  
  #sidebar-single {
  	background: #fff;
padding: 20px 40px;
width: auto;
/* float: right; */
position: relative;
display: inline-block;
min-width: 300px;
  }
  
/*s*/
 
/* post index styles */ 
  #post-area .post 				{ 
  width: 347px;
background: #FFF;
border: 1px solid #fff;
nav-downmargin-right: 10px;
margin-top: 15px;
position: relative;
overflow: hidden;
  }
  
  
  	#post-area .post a {
  		color: #000;
  	}
  	#post-area .post a:hover {
  		color: #858585;
  	}
  #post-area .post .gridly-copy 		{ width:auto; margin-left:auto; margin-right:auto; padding: 10px 20px; overflow:hidden; clear:both;}
  #post-area .post .gridly-date 		{ width:150px;  color:#8e8e8e; font-size:11px;  border-bottom:1px dotted #cccccc; padding-bottom:0; padding-top:0; }
  #post-area .post .gridly-link 		{ width:150px; border-top:1px dotted #e8e8e8; color:#494e51;}

/* single post nav styles */ 
  .post-nav 		 { width:35px; display:inline; float:left; margin-left:10px; margin-top:15px; }
  .post-next a 		 { background:url(../images/btn-left.png) top left no-repeat; height:35px; width:35px; display:inline; float:left; text-indent:-9999px; }
  .post-next a:hover { background:url(../images/btn-left.png) top right no-repeat; height:35px; width:35px;}
  .post-prev a 		 { background:url(../images/btn-right.png) top left no-repeat; height:35px; width:35px; display:inline; float:left; clear:both; text-indent:-9999px;}
  .post-prev a:hover { background:url(../images/btn-right.png) top right no-repeat; height:35px; width:35px;}

/* comment styles */
  .comments-area ol { list-style:none; margin:0; padding:0;  border-bottom:1px solid #8e8e8e; }
  .comments-area li { list-style:none; margin:0; padding:0; border-top:1px solid #8e8e8e; width:100%; clear:both; display:inline; float:left; margin-bottom:10px; padding:10px;  } 
  .avatar 			{ display:none;} 
  .reply 			{ display:none;}
  .comment-meta  	{ display:none;}
  .comment-author 	{ font-size:16px; font-weight:bold; font-family: 'Droid Sans', sans-serif; }
  #comment-form 	{ width:50%; }
  .text-input 		{ clear:both; border:1px solid #8e8e8e; margin-bottom:5px; width:90%; padding:7px; font-family:Arial, Helvetica, sans-serif; color:#555; font-size:12px;  }
  .comment-input  	{ clear:both; border:1px solid #8e8e8e; margin-bottom:5px; width:90%; padding:7px; font-family:Arial, Helvetica, sans-serif; color:#555; font-size:12px;  } 
  .comment-submit 	{ clear:both; width:120px; height:30px; line-height:25px; background:#e5e5e5; border:1px solid #8e8e8e;   }

/* Additional and WordPress styles */
  .clear 			{ clear:both;}
  .aligncenter	 	{ display: block; margin: 0 auto; }
  .alignleft		{ float: left; margin-right:20px; margin-top:20px; margin-bottom:10px; }
  .alignright		{ float: right; margin: 0 0 20px 20px; }
  .wp-caption		{  text-align: left; margin-top:5px; margin-bottom:5px; }
  .wp-caption-text  { margin-top:2px;  text-align:left; font-style:italic;  font-size:11px; color:#999; } 
  .sticky    		{}
  .gallery-caption  {} 
  .bypostauthor  	{}
  blockquote 		{ font-size:2em; line-height:23px; color:#000; margin-left:20px; border-left: 1px dotted #999; padding-left:25px; margin-top:15px; margin-bottom:15px; }
/* end of css file */