/* Typography */
h1 {
  font-size: 36px;
  line-height: 41px;
  color: #000000;
  padding: 0px;
  margin: 0px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 5px; }

h2 {
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  padding: 0px;
  margin: 0px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 10px; }

h3 {
  font-size: 15px;
  line-height: 25px;
  color: #858585;
  padding: 0px;
  margin: 0px;
  font-weight: normal; }

h4 {
  font-size: 15px;
  line-height: 25px;
  color: #000000;
  padding: 0px;
  margin: 0px;
  font-weight: normal;
  font-weight: bold; }

h5 {
  font-size: 13px;
  line-height: 22px;
  color: #000000;
  padding: 0px;
  margin: 0px;
  font-weight: normal; }

h6 {
  font-size: 12px;
  line-height: 22px;
  color: #858585;
  padding: 0px;
  margin: 0px;
  font-weight: normal; }

p {
  font-size: 12px;
  color: #454545;
  line-height: 18px;
  margin: 0px;
  padding: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: 'Helvetica',Arial, Helvetica, sans-serif; }

/* Navigation */
nav {
  display: inline; }
  nav h1 {
    display: inline; }
  nav ul {
    display: inline; }
    nav ul li {
      display: inline;
      margin-left: 15px; }

/* Homepage boxes */
.homepage-box {
  background: #000;
  height: auto; }

.homepage-box-text {
  padding: 10px; }
