/* Put all of your general styles here */

/* Table of Contents 

*** 1. General ***
*** 2. Navigation ***
*** 3. Components ***
*** 4. Footer ***
*** 5. Specific page #1 ***
*** 6. Specific page #2 ***

*/

.align-left {
	float: left;
}

.align-center {
	margin: 0 auto;
	float: none;
}
