/* BORDER RADIUS MIXIN */
/* Usage: @include border-radius(5px); */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;
}

/* TRANSITION MIXIN */
/* Usage: @include transition(all, 0.2s, ease-in-out); */
@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

@mixin box-shadow($top, $left, $blur, $color) {
    -webkit-box-shadow:$top $left $blur $color;
    -moz-box-shadow:$top $left $blur $color;
    box-shadow:$top $left $blur $color;
}



.clearfix {
	content:"";
  display:table;
  clear:both;
}


 /*Typography*/ 	
 
 body {
 	line-height: 1.6;
 	background: #fff url('../images/brickwall.png') repeat;
 }
 


/* Navigation */

nav {
	/*display: inline;*/
	margin: 50px 0;
	
	h4 {
		display: inline;
		font-weight: bold;
	}
	
	ul {
		display: inline;
		margin: 0 auto;
	
		li {
			display: inline;
			margin-right: 15px;
		}
	
	}
}

.account-widget {
	float: right;
	
		.account-image {
			width: 40px;
			height: auto;
			overflow: hidden;
			float: left;
			@include border-radius(25px);
		}
}

/* PERK UP ANIMATION */
.perk-up {
	@include transition(all, 0.15s, ease-in-out);
}

.perk-up:hover {
	@include border-radius(8px);
	margin: -10px 0 0;
	cursor: pointer;

	@include box-shadow(0, 3px, 6px, rgba(0, 0, 0, 0.5));
	
}


/* Blog Listings */
.blog-listing {
	background: #5B5B5B;
	padding: 20px;
	@include border-radius(4px);
	margin: 0 0 10px;

	
		.title {
			color: #fff;
		}
		
		.text {
			color: #B2B2B2;
			display: block;
		}
	
}


/* Calendar */

.cal-item {
	
	background: #484848;
	@include border-radius(5px);
	/*padding: 7px 10px 0;*/
	height: auto;
	margin: 0 0 5px;
	
	.cal-date {
		color: #fff;
		width: 65px;
		height: 100%;
		float: left;
		margin: 0 auto;
		text-align: center;
		background: #E43838;
		padding: 7px;
	}
	
	.cal-title {
		float: left;
		color: #E43838;
		padding: 7px 10px 0;
	}
	
	.cal-text {
		color: #6E6E6E;
		display: block;
	}
	
}
